<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h1>Servidor WEB (Microservices TESTE)</h1>
<h3>Visão Geral</h3>
<ul>
    <li>Teste simples para ver como funciona o Spring Cloud.</li>
    <li>Todas as informações de pessoa e tipo são obtidas via interface RESTful para seus determinados microserviço.</li>
</ul>

<h3>The Demo</h3>

<ul class="openlist">
    <li>Eureka Dashboard: <a
            href="http://localhost:1111">http://localhost:1111</a></li>
    <li>Verificar as aplicações registadas: <a
            href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>
</ul>

<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6"><h3>Lista Pessoas</h3></div>
            <!--<div class="col-md-6"><span class="pull-right"><a class="btn btn-primary btn-lg" th:href="@{/admin/cliente/novo}" role="button">Novo</a></span></div>-->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table class="table table-responsive table-hover table-condensed">
                <tr class="info">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Tipo Pessoa</th>
                </tr>
                <tr th:each="cliente : ${pessoa}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.sobrenome}"></td>
                    <td th:each="tipo : ${cliente.tipo}" th:text="${tipo.descricao}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>



<div th:replace="footer :: copy"></div>

</body>
</html>
