<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h1>Servidor WEB (Microservices TESTE) - NOVA PESSOA</h1>
<h3>Visão Geral</h3>
<ul>
    <li>Teste simples para ver como funciona o Spring Cloud.</li>
    <li>Todas as informações de pessoa e tipo são obtidas via interface RESTful para seus determinados microserviço.</li>
</ul>

<div class="container">

    <form th:object="${pessoa}" method="post" enctype="multipart/form-data" th:action="@{/pessoa}">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group row">
            <label for="nome" class="col-xs-2 col-form-label">Nome</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="nome" required="required" th:field="*{nome}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="sobrenome" class="col-xs-2 col-form-label">Sobrenome</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="sobrenome" required="required" th:field="*{sobrenome}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="tipo" class="col-xs-2 col-form-label">Tipo</label>
            <div class="col-xs-10">
                <select class="form-control" th:field="*{tipo}"  id="tipo">
                    <option value="0" th:text="Tipo" ></option>
                    <option th:each="t : ${tipo}" th:value="${t.id}" th:text="${t.descricao}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-danger" th:href="@{/pessoa}" role="button">Cancelar</a>
    </form>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
