<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h1>Servidor WEB (Microservices TESTE) - NOVO TIPO</h1>
<h3>Visão Geral</h3>
<ul>
    <li>Teste simples para ver como funciona o Spring Cloud.</li>
    <li>Todas as informações de pessoa e tipo são obtidas via interface RESTful para seus determinados microserviço.</li>
</ul>

<div class="container">

    <form th:object="${tipo}" method="post" enctype="multipart/form-data" th:action="@{/tipo}">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group row">
            <label for="descricao" class="col-xs-2 col-form-label">Descrição</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="descricao" required="required" th:field="*{descricao}" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-danger" th:href="@{/tipo}" role="button">Cancelar</a>
    </form>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
